<div class="container">
    <div class="page-header page-heading">
        <h1 class="text-center">Expense Management</h1>
        <div class="clearfix"></div>
    </div>
    <p class="lead text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore
        et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    <table class="table table-striped" st-safe-src="vm.displayed" st-pipe="vm.callServer" st-table="vm.displayed">
        <thead>
        <tr>
            <th st-sort="date">Date</th>
            <th st-sort="user">User Name</th>
            <th st-sort="description">Description</th>
            <th st-sort="amount">Amount</th>
        </tr>
        <tr>
            <th><input placeholder="Filter by Date" st-search="time"/></th>
            <th><input placeholder="Filter by User" st-search="username"/></th>
            <th><input placeholder="Filter by Description" st-search="description"/></th>
            <th><input placeholder="Filter by Amount" st-search="amount"></th>
        </tr>
        </thead>
        <tbody ng-show="!vm.isLoading">
        <tr ng-click="vm.print(row)" ng-repeat="row in vm.displayed">
            <td>{{row.time}}</td>
            <td>{{row.username}}</td>
            <td>{{row.description}}</td>
            <td>{{row.amount}}</td>
        </tr>
        </tbody>
        <tbody ng-show="vm.isLoading">
        <tr>
            <td colspan="4" class="text-center">Loading ...</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td class="text-center" st-pagination="" st-items-by-page="10" colspan="4"></td>
        </tr>
        </tfoot>
    </table>
</div>
